doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style_admin.css')
    <script type="text/javascript" src="/html5jp/graph/vbar.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  body
    block content