extends layout

block content
  script.
    var socket = io.connect('http://localhost:3000');
    window.onload = function() {
      var mode = document.getElementById('mode');
      //window.alert("Send!(1)"+mode.value);
      if(mode.value==1)
        socket.emit('polling', mode);
      mode.value = 0;
    }

  h1= title
  h3 Welcome to #{title}
  p= msg
  p
    a(href="/") トップページへ
  input(type='hidden', id='mode', name='mode', value= mode)
  